*o
/Tools/gcc-arm-none-eabi-5_4-2016q2/*
/Tools/openocd/*
/Tools/stlink/*
*.uvguix.mawenke
*.uvoptx
*~
*.bin
*.elf
*.map
*.hex
*.pro.user
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
