*o
/5_Development_Toolchain/*
/6_Tools/0_private_data/*
*.uvguix.mawenke
*.uvoptx
*~
*.bin
*.elf
*.map
*.hex
*.pro.user
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
