*.o
build/
devel/
/OpenRE.wiki/*
.catkin_workspace
*.txt.user
/5_Development_Toolchain/gcc-arm-none-eabi-5_4-2016q2.tar.bz2
/5_Development_Toolchain/openocd.tar.bz2
/5_Development_Toolchain/stlink.tar.bz2
/5_Development_Toolchain/gcc-arm-none-eabi-5_4-2016q2/*
/5_Development_Toolchain/gcc-arm-none-eabi*/*
/5_Development_Toolchain/openocd/*
/5_Development_Toolchain/stlink/*
/6_Tools/0_private_data/*
/8_Firmware_Bin/test/*
*.uvguix.mawenke
*.uvoptx
*~
*.bin
!/8_Firmware_Bin/*.bin
*.elf
*.map
*.hex
*.pro.user
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
